[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BNSP"]
	path = BNSP
	url = https://github.com/cran/BNSP
[submodule "mixcat"]
	path = mixcat
	url = https://github.com/cran/mixcat
